@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700');

body {
  font-family: 'Quattrocento Sans', sans-serif;

  font-weight:400;
color: #000;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    line-height: 1.5;
    font-size: 1em;
}

a {
  color:#333;
  text-decoration:none;
}

ul{
  padding:0;
}

.container {
    margin: 0 auto;
width: 90%;
max-width:66em;
display: grid;
margin: 0 auto;
grid-column-gap: 2rem;
grid-row-gap: 2rem;
grid-template-columns: 1fr;

&.home {
grid-template-columns: 1fr 1fr;

@media screen and (max-width: 900px) {
grid-template-columns: 1fr ;
   
}

h2 {
grid-column: 1/-1;
}
  
}
}



.navbar .container {
grid-template-columns: 2fr 1fr;

.navbar-brand .navbar-item figure{
  margin:1em 0;
}
  .navbar-start {
  justify-self:end;
  margin:1em 0;
  a {
  margin:10px;
  }
  }
}

img {
  max-width:100%;
}



.content .taglist {
   list-style: none;
  margin-bottom: 0;
  margin-top: 1.5rem;


  li {

      padding: 0 2rem 1rem 0;
    margin-bottom: 1.5rem;
    margin-top: 0;
  }

}

.tags {
display:grid;
grid-template-columns: 20px 1fr;
ul {
  list-style:none;

  display:inline-flex;
  margin-left:2em;
}
}
 
.project-links {
  display:inline-block;

  li {
  display:inline-block;
  padding:4px 14px;
  border: 1px solid;
  margin-right:1em;
  img {
  max-width:14px;
  }
  }
}  

.about-content {
  li {
  margin-left: 15px;
  }
}

.about-section {
  display:grid;
  grid-template-columns:1fr 2fr;
  img {
  max-width: 170px;
border-radius: 50%;
  }
}